.main1{
    border-right: 1px solid #589d32;
    width: 60%;
    margin-top: 10px;
}
.theme{
    font-size: 25px;
    width: 750px;
    height: 26px;
    position: relative;
    top: 20px;
    left: 7px;
    border-radius: 6px;
    background-color: #589d32;
    color: white;
    padding-bottom: 4px;
    padding-left: 20px;
}
.director{
    width: 40%;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    float: left;
}
.detail{
    margin-top: 40px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 20px;
    color: black;
    font-size: 15px;
    display: block;
}
.rule1{
    border-color:  #affa87;
    width: 96%;
    margin-right: 23px;
}
h3{
    color: #589d32;
    margin-left: 10px;
}
.Members{
    border: 1px solid #abdf8f;
    width: 96%;
    height: 165px;
    margin-top: 10px;
    margin-right: 23px;
    margin-left: 10px;
    background-color: #abdf8f;
}
.Members:hover{background-color: white;}
.staff{
    width: 150px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}
.staffdt{
    width: 400px;
    position: relative;
    left: 300px;
    bottom: 150px;
}
span{
    position: relative;
    left: 50px;
}

.main2{
    float: right;
    width: 40%;
    position: absolute;
    right: 8px;
    top: 160px;
}
.msub1{
    border: 1px solid #abdf8f;
    width: 95%;
    height: 130px;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
}
h1{
    text-align: center;
    color: #589d32;
}
.subcontent{
    font-style: italic;
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    color: black;
    
}
.msub2{
    border: 1px solid #abdf8f;
    width: 95%;
    height: 200px;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
}
.msub3{
    border: 1px solid #abdf8f;
    width: 95%;
    height: 300px;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
}
.msub4{
    border: 1px solid #abdf8f;
    width: 96%;
    height: 400px;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
}
.msub1:hover{background-color: #abdf8f;}
.msub2:hover{background-color: #abdf8f;}
.msub3:hover{background-color: #abdf8f;}
.msub4:hover{background-color: #abdf8f;}

