.form{
    border: 1px solid #2c680c;
    width: 450px;
    height: 250px;
    margin-top: 50px;
    margin-left: 400px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.theme{
    background-color: #3a8611;
    margin: 20px 20px 20px 20px;
    font-size: 25px;
    color: white;
    text-align: center;
}
span{
    margin-left: 10px;
    color: #3a8611;
}
input{
    color: #3a8611;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 400px;
    border-color: #3a8611;
    border-width: 0.5pt;
    height: 20px;
}
.but{
    width: 70px;
    height: 30px;
    margin-left: 2px;
    margin-top: 20px;
    color: white;
    background-color: #3a8611;
    border-color: #3a8611;
}
#bu{
    margin-left: 120px;
}
.but:hover{ 
    opacity: 0.8;
}
.but:active{
    position: relative;
    top: 5px;
}