.topic{
    width: 100%;
    font-size: 25px;
    color: #3f7124;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 15px;
}
.content{
    color: black;
    text-align: justify;
    margin-left: 7px;

}
.image{
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom:50px ;


}
.img{
    width: 18pc;
    margin: 5px 5px 5px 5px;
    box-shadow: 0 3pt 6pt 0 #3f7124;

}
.subtopic{
    width: 100%;
    font-size: 20px;
    color: #3f7124;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 10px;
}