.main{
    width: 100%;
    border-radius: 10px;
}

.sub1{
    width: 100%;
    height: 93px;
   
}

.logo{
    width: 95px;
}
.logo:hover{cursor: pointer;}

.name{
    width: 400px;
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 130px;   
}
.name1{
    font-size: 45px;
    color: #589d32;
    font-family: Calibri;
    font-weight: bolder;
}
.name2{
    font-size: 42px;
    color: #589d32;
    font-family: Tempus Sans ITC;
    font-weight: bolder;
}
.contac{
    width: 240px;
    font-size: 20px;
    font-weight: bold;
    color: #589d32;
    position: absolute;
    top: 45px;
    right: 20px;
}
.hotline{
    color: #235f00;
}

.menubar{
    width: 100%;
    background-color: #589d32;
    margin-top: 10px;
    display: block;
    height: 42px;
}
.menu{
    font-size: 1.125pc;
    background-color: #589d32;
    display: inline-block;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}
.ma{
    color: white;
    text-decoration: none;
}
.menu:hover{
    cursor: pointer;
    background-color: #246100;
    text-decoration: non;
}


.rule{
    border-color:  #affa87;
}

.bottom{
    text-align: center;
    font-size: 15px;
}
.ba{
    color: #2c680c;
    text-decoration: none;
}
.ba:hover{
    cursor: pointer;
    text-decoration: underline;
}

p{
    text-align: center;
    font-size: 17px;
    color: #3f7124;

}
.smlogo{
    width: 25px;
    position: relative;
    left: 612px;
}
.bottom3{
    width: 100%;
    height: 18px;
    background-color: #2c680c;
    color: white;
    text-align: center;
    font-size: 13px;
}
.smlogo:hover{
    background-color: #9ed37f;
}
